# General
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
*.dist-info/
*.whl
*.manifest
*.spec
*.log
*.coverage
.coverage.*
.cache/
.tox/
.mypy_cache/
.pytest_cache/
*.sqlite3
*.db
*.ipynb_checkpoints
*.env
*.venv
env/
venv/
ENV/
Pipfile.lock
poetry.lock

# Rust
/target/
/Cargo.lock
*.rs.bk

# Emacs
*~
\#*\#
.\#*
auto-save-list/
tramp
flycheck_*
flymake_*
eshell/
projectile-bookmarks.eld
projectile.cache

# VSCode
.vscode/
*.code-workspace
.history/

# OS-specific
*.swp
*.swo
*.bak
*.tmp
*.temp
*.orig
*.rej

# IDE-specific
.idea/
*.iml
*.ipr
*.iws

# Build artifacts
build/
dist/
*.o
*.so
*.a
*.out
*.exe
*.dll
*.dylib
*.lib
*.obj
*.class
*.jar
*.war
*.ear
*.min.js
*.map
*.gz
*.zip
*.tar
*.tgz
*.bz2
*.7z
*.rar

# Miscellaneous
*.lock
*.log
*.crt
*.key
*.pem
*.pub
*.pid
*.seed
*.pid.lock
*.bak
*.swp
*.swo
*.tmp
*.temp
*.orig
*.rej


# Added by cargo

/target
/data
!publications/README.md
